// Place all the styles related to the admin/shop/categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.list-col.name { width: 250px; }
.list-col.description { width: 450px; }
.list-col.actions { float: right; }