%li
  .name
    = link_to category.name, product_category_path(category)

  - unless category.leaf?
    %ul.nested
      = render :partial => 'shop/categories/category', :collection => category.children, :as => 'category'
