%h1= @category.name
%ul.categories
  = render :partial => 'category', :collection => @category.children, :as => 'category'
%ul.products
  = render :partial => 'shop/products/product', :collection => @products
